# ─── Front Nuxt (Environnement Local) ─────────────────────────

# API NestJS
NUXT_API_BASE=http://localhost:3001
NUXT_PUBLIC_API_BASE=http://localhost:3001

# Back-Office Directus CMS
NUXT_DIRECTUS_URL=http://localhost:8055
NUXT_PUBLIC_DIRECTUS_URL=http://localhost:8055
